<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Operations</title>
</head>
<body>

<h1> Famous Quotes - Admin Section </h1>

<form action="/authors/new">
    <button>Add Authors</button>
</form><br>

<form action="/quotes/new">
    <button>Add Quotes</button>
</form><br>

<form action="/authors">
    <button>List Authors</button>
</form><br>

<form action="/quotes">
    <button>List Quotes</button>
</form>



</body>
</html>
