<%- include("partials/header.ejs") %>
<div class="page-container">
<div class="header text-center">
    <% if(typeof auth != "undefined" && auth === true ){ %>
        <h1> Famous Quotes - Admin Section </h1>
    <% } else { %>
        <h1> Famous Quotes</h1>
    <% } %>
</div>



    <%-include("partials/search.ejs")%> 
</div>

<%- include("partials/footer.ejs") %>