<%- include("partials/header.ejs") %>
<div class="page-container">
    <div class="content">

        <%- include("partials/login-register-form.ejs") %>

        <br>
    </div>
</div>


<%- include("partials/footer.ejs") %>